/* COLORS ROOT  */

:root{
    --orange: #ff6900;
    --blach: #1a1a1a;
    --white: #ffffff;
    --shadow: #acacac;
}

/* UTILITY */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

/* GENERAL RULES */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--white);
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    width: 80%;
    /* background-color: aqua; */
}

.flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header{
    background-color: var(--orange);
    color: var(--white);
    box-shadow: 0 3px 8px var(--shadow);
}

footer{
    background-color: var(--blach);
    color: var(--white);
}

/* HEADER */

li{
    list-style: none;
    font-weight: bold;
}

li a{
    color: var(--white);
    text-decoration: none;
}

.logo{
    height: 30px;
}

nav{
    padding: 20px 0;
}

header nav ul{
    min-width: 200px;
}

.personal-area i{
    color: var(--white);
    padding-left: 5px;
}

/* .fixed{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: var(--orange);
    z-index: 1000;
} */

/* FOOTER */

.footer-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px 0;
}

.policy li{
    padding: 0 10px 0 0;
   font-weight: 100;
}
.social-links i{
    padding: 10px 5px 0 5px;
    color: var(--white);
    transform: scale(1.5);
}

.srl{
    font-size: 22px;
}